extrafiles/flow.json
[{"id":"23cad786.b64528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9862036a.f6d8a","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/temp","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":300,"wires":[["d3d6857b.af9b68","f67509db.bbd5a8"]],"outputLabels":["Meldung"]},{"id":"f67509db.bbd5a8","type":"function","z":"23cad786.b64528","name":"","func":"if(msg.payload > 26) {\n    msg.payload = msg.payload + \" °C : hot!\";\n} else{\n    msg.payload = msg.payload + \" °C : O.K.\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["83ce221e.5a654"]]},{"id":"d3d6857b.af9b68","type":"debug","z":"23cad786.b64528","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":240,"wires":[]},{"id":"21c14209.a3f74e","type":"function","z":"23cad786.b64528","name":"","func":"if(msg.payload > 60) {\n    msg.payload = msg.payload + \" % : wet!\";\n} else{\n    msg.payload = msg.payload + \" % : O.K.\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":380,"wires":[["c2a20898.412498"]]},{"id":"af62eebb.3b3ea","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/wet","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":380,"wires":[["21c14209.a3f74e"]],"outputLabels":["Meldung"]},{"id":"9f536891.9056c8","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/time","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":460,"wires":[["8a595201.4ee96"]],"outputLabels":["Meldung"]},{"id":"c05763aa.fa4fd","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/ping","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":540,"wires":[["f13f2d76.7134a"]],"outputLabels":["Meldung"]},{"id":"6038cca3.40fd14","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/dns","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":620,"wires":[["911a8000.a9381"]],"outputLabels":["Meldung"]},{"id":"83ce221e.5a654","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Temp:","format":"{{msg.payload}} ","layout":"row-spread","x":930,"y":300,"wires":[]},{"id":"c2a20898.412498","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":380,"wires":[]},{"id":"8a595201.4ee96","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}} ","layout":"row-spread","x":930,"y":460,"wires":[]},{"id":"f13f2d76.7134a","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Ping: ","format":"{{msg.payload}} ","layout":"row-spread","x":930,"y":540,"wires":[]},{"id":"911a8000.a9381","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"DNS: ","format":"{{msg.payload}} ","layout":"row-spread","x":930,"y":620,"wires":[]},{"id":"58584f5b.d7dad","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/port8005","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":560,"y":700,"wires":[["cc51c6de.0af8a8"]],"outputLabels":["Meldung"]},{"id":"cc51c6de.0af8a8","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Port 8005:","format":"{{msg.payload}} ","layout":"row-spread","x":950,"y":700,"wires":[]},{"id":"54a9ab81.ec26b4","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/port8006","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":560,"y":780,"wires":[["8b411427.e72908"]],"outputLabels":["Meldung"]},{"id":"8b411427.e72908","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Port 8006:","format":"{{msg.payload}} ","layout":"row-spread","x":950,"y":780,"wires":[]},{"id":"1aad2a00.fa9376","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/gps","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":860,"wires":[["7e46f79f.f959a8"]],"outputLabels":["Meldung"]},{"id":"7e46f79f.f959a8","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"GPS:","format":"{{msg.payload}} ","layout":"row-spread","x":930,"y":860,"wires":[]},{"id":"4587fc43.929f64","type":"mqtt in","z":"23cad786.b64528","name":"","topic":"pfropfen/feeds/gsm","qos":"2","datatype":"auto","broker":"31409e72.f33a82","x":550,"y":940,"wires":[["90a5a157.38c95"]],"outputLabels":["Meldung"]},{"id":"90a5a157.38c95","type":"ui_text","z":"23cad786.b64528","group":"dd5c9a7e.a76908","order":2,"width":0,"height":0,"name":"","label":"Cellular Network:","format":"{{msg.payload}} ","layout":"row-spread","x":970,"y":940,"wires":[]},{"id":"31409e72.f33a82","type":"mqtt-broker","z":"","name":"","broker":"hivemq.dock.moxd.io","port":"1883","clientid":"Zenska-Client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd5c9a7e.a76908","type":"ui_group","z":"","name":"Status","tab":"d96e33eb.b1954","order":1,"disp":true,"width":"9","collapse":false},{"id":"d96e33eb.b1954","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]